body {
  font-family: 'Rubik', sans-serif;
  color: #a39daa;
  font-size: 16px;
}

body::before {
  content: " ";
  width: 100%;
  height: 100%;
  background: -webkit-gradient(linear, left top, left bottom, from(#e942ff), to(#8838ff));
  background: linear-gradient(#e942ff, #8838ff);
  display: inline-block;
  position: absolute;
  border-radius: 0 0 400px 100px;
  z-index: -1;
  top: 0;
  right: 50%;
}

p {
  margin: 0;
  line-height: 1.2;
}

.outer-bg {
  background: #fff;
  padding: .5em;
  margin-top: 10vh;
  width: 75%;
  max-width: 400px;
  border-radius: 35px;
  -webkit-box-shadow: 10px 27px 50px #dbd9db;
          box-shadow: 10px 27px 50px #dbd9db;
}

.inner-bg {
  background: #f5f3f7;
  border-radius: 30px;
}

.header {
  background: -webkit-gradient(linear, right top, left top, from(#e942ff), to(#8838ff));
  background: linear-gradient(-90deg, #e942ff, #8838ff);
  border-radius: 30px 30px 10px 10px;
  padding: 1.5em .5em .75em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
}

.header .header-title {
  color: #d89eff;
  width: 75%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin-top: 1em;
}

.header .header-title img {
  width: 18%;
  border: 2px solid white;
  border-radius: 50%;
  cursor: pointer;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.header .header-title .contact {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  font-size: 12px;
}

.header .header-title .contact h5 {
  margin-bottom: 0;
  color: #fff;
  font-weight: 600;
}

.header .fas {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  color: #fff;
  cursor: pointer;
}

.header .menu {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-right: .75em;
}

.header::before {
  content: "";
  display: block;
  width: 50%;
  height: 20px;
  border-radius: 0 0 30px 30px;
  background: #fff;
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.body {
  padding: .5em;
}

.body img {
  width: 30%;
  border-radius: 15px;
}

.body .flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 70%;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin-bottom: .8em;
}

.card {
  padding: .75em;
  border-radius: 15px 15px 15px 7px;
  margin: 0 0 .8em;
  max-width: 75%;
  border: none;
}

.left {
  float: left;
  color: #9241c8;
  background: #eee8ee;
}

.right {
  float: right;
}

.first {
  margin-top: 1em;
}

.card.right {
  float: right;
  color: #6e5d7e;
  border-radius: 15px 15px 7px 15px;
  -webkit-box-shadow: 1px 3px 8px #ece8ec;
          box-shadow: 1px 3px 8px #ece8ec;
}

.purple-card {
  background: -webkit-gradient(linear, left top, right top, from(#e942ff), to(#8838ff));
  background: linear-gradient(90deg, #e942ff, #8838ff);
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.purple-card p {
  display: inline;
}

.purple-card p::before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 2px solid #e570ff;
  margin-right: .5em;
  -webkit-transform: translateY(4px);
          transform: translateY(4px);
}

.purple-card .pricing {
  font-weight: 700;
  margin-right: .5em;
  font-size: 20px;
  float: right;
}

input {
  width: 100%;
  outline: none;
  border: none;
  padding: .75em;
  border-radius: 30px;
  margin: .75em 0 .5em;
}

input::-webkit-input-placeholder {
  color: #c6cacd;
}

input:-ms-input-placeholder {
  color: #c6cacd;
}

input::-ms-input-placeholder {
  color: #c6cacd;
}

input::placeholder {
  color: #c6cacd;
}

.submit-button {
  color: #3e2753;
  float: right;
  position: relative;
  bottom: 3.2em;
  right: .4em;
  cursor: pointer;
}

.submit-button .fa-chevron-circle-right {
  font-size: 38px;
}

.text {
  text-align: center;
  padding: 2em;
  margin-top: 2em;
}

.text p {
  line-height: 1.65;
}

.text h1 {
  color: #3e2753;
  font-weight: 500;
  margin-bottom: .5em;
}

.attribution {
  position: relative;
}

.attribution::after {
  content: " ";
  width: 250px;
  height: 500px;
  background: -webkit-gradient(linear, left bottom, left top, from(#e942ff), to(#8838ff));
  background: linear-gradient(360deg, #e942ff, #8838ff);
  opacity: .035;
  border-radius: 220px 0 0 0;
  display: inline-block;
  position: absolute;
  z-index: -1;
  bottom: 0;
  right: 0;
}

@media (min-width: 750px) {
  body::before {
    width: 35%;
    left: -3.2em;
    border-radius: 0 0 400px 250px;
  }
  .lg-screen {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .app {
    width: 40%;
  }
  .text {
    width: 40%;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    text-align: initial;
    margin-right: 0;
  }
  .text p {
    max-width: 430px;
  }
  .outer-bg {
    margin-top: 15vh;
    position: relative;
    left: 30%;
  }
  .inner-bg::before {
    left: initial;
  }
  .attribution {
    margin-top: 7em;
  }
  .attribution::after {
    height: 620px;
  }
}
