@media (min-width: 750px){

    body{
        &::before{
            width: 35%;
            left: -3.2em;
            border-radius: 0 0 400px 250px;
        }
    }
    .lg-screen{
        display: flex;
    }
    .app{
        width: 40%;  
    }
    .text{
        width: 40%;
        align-self: center;
        text-align: initial;
        margin-right: 0;
        
        p{
            max-width: 430px;
        }
    }
    .outer-bg{
        //zoom: .65;
        margin-top: 15vh;
        position: relative;
        left: 30%;
    }
    .inner-bg{
        &::before{
           left: initial;
        }
    }
    .attribution{
        margin-top: 7em;
        &::after{
            height: 620px;
        }
    }
}